@use "../extends/_extends_dir";

header {
    width: 100%;
    @include flex(row,center,center);

    h1 {
        margin:0;
    }

    nav {
        position: absolute;
        top:2%;
        right:4%;
        width: 150px;
        @include flex(column,space-between,center);
        gap:5px;

        div {
            @extend .pointer;
        }
        div:hover {
            color:var(--color3);
            transform: scale(110%);
        }
    }

    #customOptions, #advancedOptions {
        position: absolute;
        top: 2%;
        left:2%;
        height:15dvh;
        @include flex(column,center,flex-start);
        flex-wrap: wrap;
        
        #customOptionsInputs, #advancedOptionsInputs {
            @include flex(column,center,flex-start);
    
            .customOption, .advancedOption {
                @include flex(row,center,center);
                gap:5px;
                margin-bottom: 5px;
                margin-right: 15px;
            }
        }

        #filters {
            @include flex(column,center,flex-start);
            margin-top: 10px;

            input[type = number] {
                width:55px;
            }
        }
    }
}