main {
    width: 100%;
    @include flex(column,center,center);

    #displayCustom, #displayAdvanced {
        margin-top: 15px;
        
        #customButtons {
            width: 175px;
        }
    }
}